<h4>
<%= link_to 'All accounts',  accounts_path %>
<span class="glyphicon glyphicon-chevron-right"></span>
<%= link_to "#{@sogou_group.sogou_plan.account.channel} - #{@sogou_group.sogou_plan.account.username}", @sogou_group.sogou_plan.account%>
<span class="glyphicon glyphicon-chevron-right"></span>
<%="#{@sogou_group.cpc_grp_name}"%>
</h4>

<h2>Sogou Ideas</h2>
<p><%= pluralize(@sogou_group.sogou_ideas.count, "Ideas") %> associated with this Group</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve Ideas', sogou_retrieve_ideas_path(:id => @sogou_group.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete Ideas', sogou_delete_ideas_path(:id => @sogou_group.id), :method => "get", :id => "delete-button", :class => "btn bg-info button"%>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sogou Group name</th>
          <th>Sogou Group id</th>
          </tr>

        <% if @sogou_group.sogou_ideas %>
        <%= paginate Kaminari.paginate_array(@sogou_group.sogou_ideas).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@sogou_group.sogou_ideas).page(params[:page]).per(25) %>
        <% end %>
      </thead>

      </table>
    </div>


<h2>Sogou CPCs</h2>
<p><%= pluralize(@sogou_group.cpcs.count, "CPCs") %> associated with this Group</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve Cpcs', sogou_retrieve_cpcs_path(:id => @sogou_group.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete Ideas', sogou_delete_cpcs_path(:id => @sogou_group.id), :method => "get", :id => "delete-button", :class => "btn bg-info button"%>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sogou CPC name</th>
          <th>Sogou CPC id</th>
          </tr>

        <% if @sogou_group.cpcs %>
        <%= paginate Kaminari.paginate_array(@sogou_group.cpcs).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@sogou_group.cpcs).page(params[:page]).per(25) %>
        <% end %>
      </thead>

      </table>
    </div>

    <div id="footer-javascripts">

    <script type="text/javascript">
      $("button.retrieve-adgroups").on("click", function() {
        window.location = "<%= campaigns_retrieve_adgroups_path(:id => @sogou_group.id) %>"
      })
    </script>

    <script type="text/javascript">
      $("button.delete-adgroups").on("click", function() {
        window.location = "<%= campaigns_delete_adgroups_path(:id => @sogou_group.id) %>"
      })
    </script>
    </div>
