<tbody>
  <td>
  	<% if (params[:page]).to_i == 0 %>
  	<%= index = (adgroup_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(@campaign.adgroups).limit_value ) %>
  	<% else %>
  	<%= index = (adgroup_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(@campaign.adgroups).limit_value ) %></td>
  	<% end %>
  <td><%= adgroup.name %></td>
  <td><%= adgroup.channel_id %></td>

  <td><%= link_to "#{adgroup.keywords.count} Keywords", adgroup, class: "btn bg-info"  %></td>
  <!-- <td><%= link_to 'Edit adgroup', edit_adgroup_path(adgroup) %></td> -->
  <td><%= link_to 'Delete adgroup', adgroup, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button"  %></td>
</tbody>
