<%= form_with(model: adgroup, local: true) do |form| %>
<% if adgroup.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(adgroup.errors.count, "error") %>
      prohibited this adgroup from being saved:</h2>

    <ul>
      <% adgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<!-- <div class="form-group"> <%= form.label :account_id %> <%= form.select :account_id, ['option1', 'option2'], class: "form-control" %> </div> -->

<div class="form-group">
  <%= form.label :campaign_ID %>
  <%= form.number_field :campaign_id, class: "form-control" %>
</div>

<div class="actions">
  <%= form.submit "Submit", class:"btn btn-lg btn-primary" %>
</div>
<% end %>
