<h1>Your Adgroups</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Adgroup id</th>
        <th colspan="3"></th>
      </tr>
      <% if user_adgroups %>        
      <%= paginate Kaminari.paginate_array(user_adgroups).page(params[:page]).per(25) %>
      <%= render Kaminari.paginate_array(user_adgroups).page(params[:page]).per(25) %>
    </thead>
  </table>
  
  </div>
  <% else %>
</thead>
</table>
</div>
  <br>
      <div>No adgroup associated with your account</div>
      <% end%>
<br>
    <!-- <% if @campaigns.first %>
      <div>
      <%= link_to 'New Adgroup', new_adgroup_path %>
    <% else %>
      <p>You must first create a campaign in order to create an adgroup.</p>
    <% end %>
    </div> -->
