<tbody class="account-fields">
  <td id="align-middle"><%= index = user_counter +1 %></td>
  <td id="align-middle"><%= user.email %></td>
  <td id="align-middle"><%= user.created_at %></td>
  <td id="align-middle"><%= user.superadmin_role? %></td>
  <td id="align-middle"><%= user.id %></td>
  <% if user.superadmin_role %>
  <td></td>
  <td></td>
  <% else %>
  <td id="align-middle"><%= link_to 'Make super admin', make_superadmin_path(user), id: "retrieve-button", :class => "btn bg-info button"   %></td>
  <td id="align-middle"><%= link_to 'Delete user', user, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button"   %></td>
  <% end %>
</tbody>
