<h1>Adeqo User Accounts</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Created_at</th>
      <th>Super admin role</th>
      <th>User id</th>
      <th colspan="3"></th>
    </tr>
    <%= render partial: 'user', collection: @users%>
</thead>
</table>
</div>
<br>
<%= link_to 'Add User', new_user_path %>
