<div class="container">
<h2>Create an account</h2>
<%= form_for(@user, as: resource_name, url: users_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :superadmin_role %><br />
    <%= f.select(:superadmin_role, [true, false], {}, { :class => "form-control" })%>
  </div>
  <div class="form-group">
    <%= f.submit "Create", class:"btn btn-lg btn-primary" %>
  </div>
<% end %>

</div>
