<div class="container">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", required: false, class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="checkbox">
    <label for="">
      <%= f.check_box :remember_me, required: false %>
      <%= f.label :remember_me %>
      </label>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
