<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (sogou_idea_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(user_campaigns).limit_value ) %>
    <% else %>
    <%= index = (sogou_idea_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(user_campaigns).limit_value ) %></td>
    <% end %></td>
  <td><%= sogou_idea.cpc_idea_id %></td>
  <td><%= sogou_idea.title %></td>
  <td><%= sogou_idea.show_url %></td>

  <td><%= link_to 'Delete Idea', sogou_idea, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button" %></td>
        <% else %></td>
</tbody>
