<%= form_with(model: keyword, local: true) do |form| %>
<% if keyword.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(keyword.errors.count, "error") %>
      prohibited this keyword from being saved:</h2>

    <ul>
      <% keyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class: "form-control" %>
</div>

<!-- <div class="form-group"> <%= form.label :account_id %> <%= form.select :account_id, ['option1', 'option2'], class: "form-control" %> </div> -->

<div class="form-group">
  <%= form.label :adgroup_ID %>
  <%= form.number_field :adgroup_id, class: "form-control" %>
</div>

<div class="actions">
  <%= form.submit "Submit", class:"btn btn-lg btn-primary" %>
</div>
<% end %>
