<h1>Your keywords</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Adgroup</th>
        <th>Keyword id</th>
        <th colspan="3"></th>
      </tr>
      <% if user_keywords%>
        <%= paginate Kaminari.paginate_array(user_keywords).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(user_keywords).page(params[:page]).per(25) %>
    </thead>
  </table>
  </div>
  <% else %>
</thead>
</table>
</div>
  <br>
      <div>No keyword associated with your account</div>
      <% end%>
<br>
    <!-- <% if @adgroups.first %>
      <div>
      <%= link_to 'New keyword', new_keyword_path %>
    <% else %>
      <p>You must first create an adgroup in order to create an keyword.</p>
    <% end %>
    </div> -->
