<%= form_with(model: campaign, local: true) do |form| %>
<% if campaign.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(campaign.errors.count, "error") %>
      prohibited this campaign from being saved:</h2>

    <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :budget %>
  <%= form.text_field :budget, class: "form-control" %>
</div>

<!-- <div class="form-group"> <%= form.label :account_id %> <%= form.select :account_id, ['option1', 'option2'], class: "form-control" %> </div> -->

<div class="form-group">
  <%= form.label :account_ID %>
  <%= form.number_field :account_id, class: "form-control" %>
</div>

<div class="actions">
  <%= form.submit "Submit", class:"btn btn-lg btn-primary" %>
</div>
<% end %>
