<h4>
<%= link_to 'All accounts',  accounts_path %>
<span class="glyphicon glyphicon-chevron-right"></span>
<%= link_to "#{@campaign.account.channel} - #{@campaign.account.username}", @campaign.account%>
<span class="glyphicon glyphicon-chevron-right"></span>
<%="#{@campaign.name}"%>
</h4>

<h2>Adgroups</h2>
<p><%= pluralize(@campaign.adgroups.count, "Adgroups") %> associated with this campaign</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <button id="retrieve-button" class="btn bg-info button retrieve-adgroups">Retrieve Adgroups</button>
    </div>
    <div class="col-sm-3">
      <button id= "delete-button" class="btn bg-info button delete-adgroups"> Delete All Adgroups</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Adgroup name</th>
          <th>Channel id</th>
          </tr>

        <% if @campaign.adgroups %>
        <%= paginate Kaminari.paginate_array(@campaign.adgroups).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@campaign.adgroups).page(params[:page]).per(25) %>
        <% end %>
      </thead>

      </table>
    </div>

    <div id="footer-javascripts">

    <script type="text/javascript">
      $("button.retrieve-adgroups").on("click", function() {
        window.location = "<%= campaigns_retrieve_adgroups_path(:id => @campaign.id) %>"
      })
    </script>

    <script type="text/javascript">
      $("button.delete-adgroups").on("click", function() {
        window.location = "<%= campaigns_delete_adgroups_path(:id => @campaign.id) %>"
      })
    </script>
    </div>
