/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require formtastic
 *= require my_formtastic_changes
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#hamburger-button {
  margin-top: 25px;
}

#my-navigation {
  margin-top: 20px;
}

#logo-image {
  height: 65px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  margin-bottom: 20px;
}

#page-container {
  min-height: 50em;
}

#home-page-title {
  margin: 20px 20px 20px 20px
}
// Navbar
#my-nav {
  margin-bottom: 0;
}
// Footer
footer {
  background-color: rgb(248, 248, 248);
  min-height: 80px
}

.footer-title {
  font-size: 18px;
}

#footer-text {
  margin: 30px 30px 30px 30px
}

#menu-separator {padding: 15px}

.account-fields {
  font-size: 12px
}

// align accounts index fields
#align-middle { vertical-align: middle}

.button {
  width: 200px
}


#delete-button {
  background-color: #ca2222;
  color:white;
  margin-bottom: 9px
}

#retrieve-button {
  background-color: rgb(84, 181, 204);
  color:white;
}

.alert {margin-top: 10px}
