// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-page-container {
  background-image: url('adeqo-banner.jpg');
  background-position: center;
  background-size: cover;
  height: 50em
}

#home-page-title {
      font-size: 64px;
      color: #e2dbdb;
}
