<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (sogou_plan_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(user_campaigns).limit_value ) %>
    <% else %>
    <%= index = (sogou_plan_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(user_campaigns).limit_value ) %></td>
    <% end %></td>
  <td><%= sogou_plan.cpc_plan_name %></td>
  <td><%= sogou_plan.cpc_plan_id %></td>
  <td><%= sogou_plan.budget %></td>

  <td><%= link_to "#{sogou_plan.sogou_groups.count} Groups", sogou_plan, class: "btn bg-info"  %></td>

  <td><%= link_to 'Delete Plan', sogou_plan, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button" %></td>
        <% else %></td>
</tbody>
