<h4>
<%= link_to 'All accounts',  accounts_path %>
<span class="glyphicon glyphicon-chevron-right"></span>
<%= link_to "#{@sogou_plan.account.channel} - #{@sogou_plan.account.username}", @sogou_plan.account%>
<span class="glyphicon glyphicon-chevron-right"></span>
<%="#{@sogou_plan.cpc_plan_name}"%>
</h4>

<h2>Sogou Groups</h2>
<p><%= pluralize(@sogou_plan.sogou_groups.count, "Groups") %> associated with this campaign</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve Groups', sogou_retrieve_groups_path(:id => @sogou_plan.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete Groups', sogou_delete_groups_path(:id => @sogou_plan.id), :method => "get", :id => "delete-button", :class => "btn bg-info button"%>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sogou Group name</th>
          <th>Sogou Group id</th>
          </tr>

        <% if @sogou_plan.sogou_groups %>
        <%= paginate Kaminari.paginate_array(@sogou_plan.sogou_groups).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@sogou_plan.sogou_groups).page(params[:page]).per(25) %>
        <% end %>
      </thead>

      </table>
    </div>

    <div id="footer-javascripts">

    <script type="text/javascript">
      $("button.retrieve-adgroups").on("click", function() {
        window.location = "<%= campaigns_retrieve_adgroups_path(:id => @sogou_plan.id) %>"
      })
    </script>

    <script type="text/javascript">
      $("button.delete-adgroups").on("click", function() {
        window.location = "<%= campaigns_delete_adgroups_path(:id => @sogou_plan.id) %>"
      })
    </script>
    </div>
