<!DOCTYPE html>
<html>
  <head>
    <title>Adeqox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/navbar'%>

      <% if current_page?('/') %>
        <div id="home-page-container">
          <div class="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
          <% end %>
              </div>
          <%= yield %>
        </div>
      <% else %>

        <div id="page-container" class="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
          <% end %>
          <%= yield %>
      <% end %>


    </div>

    <!-- Footer -->
    <footer>
    <%= render '/layouts/footer_links'%>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p id="footer-text">© 2018 Beyond Media Global Limited. All Rights Reserved. ICP: 15044856</p>
        </div>
    </div>
  </footer>
<!-- ./Footer -->
</body>

</html>
