  <tbody class="account-fields">
    <td id="align-middle"><%= index = account_counter +1 %></td>
    <td id="align-middle"><%= account.channel %></td>
    <td id="align-middle"><%= account.username %></td>
    <td id="align-middle"><%= account.email %></td>
    <td id="align-middle"><%= account.password %></td>
    <td id="align-middle"><%= account.apitoken %></td>
    <td id="align-middle"><%= account.apisecret %></td>
    <td>
        <% if account.channel == '360' %>
        <%= link_to "#{account.campaigns.count} Campaigns", account, class: "btn bg-info"  %></td>
        <% else %>
        <%= link_to "#{account.sogou_plans.count} Plans", account, class: "btn bg-info"  %>
        <% end %>
    </td>
    <td><%= link_to 'Edit account', edit_account_path(account) %></td>
    <td><%= link_to 'Delete account', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tbody>
