<h4>
<%= link_to 'All accounts',  accounts_path %>
<span class="glyphicon glyphicon-chevron-right"></span>
<%="#{@account.channel} - #{@account.username}" %>
</h4>
<% if @account.channel == "360" %>
<h2>Campaigns</h2>
  <p><%= pluralize(@account.campaigns.count, "Campaign") %> associated with this account</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve campaigns', accounts_retrieve_campaigns_path(:id => @account.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete All Campaigns', accounts_delete_campaigns_path(:id => @account.id), :method => "get", :id => "delete-button", :class => "btn bg-info button" %>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Campaign name</th>
          <th>Campaign channel</th>
          <th>Channel id </th>
          </tr>

      </thead>
      <div class="">
        <% if @account.campaigns %>
        <%= paginate Kaminari.paginate_array(@account.campaigns).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@account.campaigns).page(params[:page]).per(25) %>
        <% end %>
      </div>

      </table>

    </div>

<% else %>

<h2>Plans</h2>
  <p><%= pluralize(@account.sogou_plans.count, "Plans") %> associated with this account</p>

  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve Plans', accounts_retrieve_plans_path(:id => @account.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete All Plans', accounts_delete_plans_path(:id => @account.id), :method => "get", :id => "delete-button", :class => "btn bg-info button" %>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Plan name</th>
          <th>Plan channel</th>
          <th>Plan id </th>
          </tr>

      </thead>
      <div class="">
        <% if @account.sogou_plans %>
        <%= paginate Kaminari.paginate_array(@account.sogou_plans).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(@account.sogou_plans).page(params[:page]).per(25) %>
        <% end %>
      </div>

      </table>

    </div>

<% end %>